footer.footer
    img#img__footer.img__footer
    .footer__logo
        img(src='/img/system/netflix-logo.png' alt='Logo')
    ul.footer__nav
        li: a(href='#') About us
        li: a(href='#') Download apps
        li: a(href='#') Become an admin
        li: a(href='#') Careers
        li: a(href='#') Contact us
    p.footer__copyright &copy; by iOS Developer.