doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0)')
        link(rel="stylesheet" href="/css/style.css")
        link(rel='shortcut icon' type="image/png" href="/img/system/favicon.png")
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
        link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/cropperjs@1.5.9/dist/cropper.css')
        script(src='https://cdn.jsdelivr.net/npm/cropperjs@1.5.9/dist/cropper.min.js')
        title Netflix REST API | #{title}

    body.body-background
        // HEADER
        include _header

        // CONTENT
        block content
            h1 Header placeholder

        // FOOTER
        include _footer

        //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.min.js')
        script(src='/js/bundle.js')