extends base

block content
    main.main
        .error
            .error__title
                h2.heading-secondary.heading-secondary--error Uh oh! Something went wrong!
                h2.error_emoji 🤯
            .error__msg= message