extends base

block content
    form.form--image-upload
        label.input--checkbox-text
            |   Path's resource:
        select#image-upload--select-path(name=path)
            option posters
            option logos
            option display-posters
            option display-logos
            option preview-posters
            option systems
        input#input--image-upload.input--image-upload-p.center(type='file' name='image' accept='image/*' multiple)
        button.btn--image-upload.btn--image-upload-p.center Upload
        img#preview-img--upload(height="200" alt="Image preview")