extends base

block content
    main.main
        h3.heading-tertirary
            span= image.name
        - const dataUri = `data:image/jpeg;base64,${image.output.dataUri}`;
        img.center(src=dataUri)