extends base

block content
    main.main
        .card-container
            each poster in posters
                .card
                    .card__header
                        .card__picture
                            .card__picture-overlay &nbsp;
                            - const dataUri = `data:image/jpeg;base64,${poster.output.dataUri}`;
                            img#image--preview-img.card__picture-img(src=dataUri)
                        h3.heading-tertirary
                            span #{poster.name}#{poster.type}