extends base

block content
    main.main
        h3.heading-tertirary
            span= poster.name
        - const dataUri = `data:image/jpeg;base64,${poster.output.dataUri}`;
        img.center(src=dataUri)